.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 20px;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%;
}

.chat-message-sender {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.chat-message-receiver {
  background-color: #fff;
  align-self: flex-start;
}

.chat-input-form {
  padding: 10px;
  background-color: #f1f1f1;
}

.chat-input {
  flex: 1;
  margin-right: 10px;
}

.chat-send-button {
  background-color: #25d366;
  border-color: #25d366;
  color: white;
}

.chat-send-button:hover {
  background-color: #1ebe57;
  border-color: #1ebe57;
}
