.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full height of the viewport */
}

.product-image {
  height: 208px; /* Set a fixed height for the product image */
  width: 100%; /* Ensure the image fills the entire width of the card */
  object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.product-card {
  transition: transform 0.2s;
  margin-bottom: 10px; /* Adjust as needed for spacing between cards */
  height: 400px; /* Set a fixed height for the card */
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .product-card {
  transform: scale(1.02);
}

.add-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: pointer;
}

.add-product-card h1 {
  font-size: 3rem;
  margin: 0;
}

.clear-stock-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .product-image {
    height: 150px; /* Adjust the height of the image for smaller screens */
  }

  .product-card {
    margin-bottom: 5px; /* Reduce margin for smaller screens */
    height: auto; /* Allow cards to adjust height based on content */
  }
}

@media (min-width: 576px) {
  .row {
    margin-bottom: -10px; /* Adjust negative margin to compensate for card margins */
  }

  .col-lg-3,
  .col-md-4,
  .col-sm-6,
  .col-12 {
    padding: 0 5px; /* Adjust horizontal padding for better alignment */
  }
}
